@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/* 모바일용 메인페이지 스타일 지정 (아래) */
/* 공통영역 */
body { /* body a 태그엔 적용이 않됩니다. */
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px !important;/* important 중요함, body 폰트크기는 무조건 고정 */
    letter-spacing: -1px !important;
    color: #444 !important;
    word-wrap: break-word !important; /* 워드랩, 줄바꿈할때 단어가 분리가 되지 안되면서 줄바꿈이 됩니다. */
    line-height: 1 !important; /*단위가 1이면 16px 입니다.*/
}
dl, ol, ul { margin-bottom: 0px !important;}
#container a:hover {color:red !important} /* : 가상 선택자, ::가상요서*/
a:link {color: #444;}
a:hover {color: #fff !important;}
a:visited {color: #444;}
a {text-decoration: none;} /* 링크의 밑줄이 사라짐 */
.clear::after{
    content: '';
    clear: both; /* 태그의 위치를 지정하는 float:left|right 속성을 초기화 시킴 */
    display: block; /* float는 블럭 속성이 없어진것을 clear시키면 , 다시 block 속성을 부여 */
}

/* //공통영역 */

/* 부트스트랩 CSS 수정 */

.txt right {
    text-align: right !important;
}
.mt20 {  /*mt 네이밍은 부트스트랩의 네이밍과 같음*/
    margin-top: 20px !important;
}
.w100p {  /* 너비크기 100% */
    width: 100% !important;
}
/* 부트스트랩 CSS 수정 */

/* 헤더영역 */
.on {  /*. 클래스 선택자*/
    background: #32343d;
}
header{ /* 태그 선택자*/
    height: 90px;
    text-align: center;
    z-index: 200; /* z-index z순서 x(가로축),y(세로축),z(위쪽)*/
    /* 빨간색 z-index:0 은 제일 아래, 녹색 z-index:1, 값이 높을 수록 위쪽에 배치 200으로 주는건 작업 중다른 태그에 가려지는것 방지 */
    background: rgba(0,0,0,0.5); /* 제일 마지막 a 는 alpha 약자 : 투명도 크기  1이 100% */
    position: absolute; /* relative 다른 태그와 관계(기본값), 위치에서 다른 태그에 영향을 받지 않음 */
    left: 0; top:0;
    width: 100%;
}
.box_innner {
    width: 100%; margin: 0 auto;
}
/* //헤더영역 */
/* 로고영역 */
.header_area h1{
    float: none;
    width: 100%;
    height: 50%;
    padding: 3px 0px 0px; /* 3px(상하) 0px(좌) 0px(우) */
}
.header_area h1 a {
    /* 로고는 이미지인데 글을 더한 이유는 웹접근성 때문에 추가(스크린 리더 -시각장애인용 홈페이지 리더)  */
    display: inline-block;
    width: 150px;
    height: 80px;
    background: url(../img/logo.png) no-repeat; /*css3는 함수를 지원합니다. url은 절대 경로 안됨 .현재 폴더 ..상위폴더*/
    background-size: 50px 60px !important; /* 백그라운드 이미지 사이즈 가로가 50px 세로가 60px */
    background-position: center center !important; /* 이미지 위치가 가로가 가운데 세로가 가운데 정렬*/
    text-indent: -9999px; /* 들여쓰기 한 이유는 이미지만 보이고, 글자는 숨기기 위치 */
    overflow: hidden;
}
/* //로고영역 */
/* 상단 메뉴 영역 */
.openMOgnb {
    /* gnb: global navigation bar 약자 메뉴명칭으로 사용*/
    display: block; /* 한줄을 다 사용하겠다는 뜻 */
    position: absolute;
    left: 15px;
    top: 35px;
    width: 25px;
    height: 16px;
}
.hdd {
    text-indent: -9999px;
    position: absolute;
}
.openMOgnb span {
    box-sizing: border-box; /* 박스 크기를 테두리 크기로 고정 */
    display: block;
    width: 25px; height: 3px;
    margin-bottom: 4px;
    border-radius: 10px; /* 테두리 라운드 처리 */
    background: #fff;
}
.openMOgnb span + span {width: 17px;} /* + 형제 인접연산자 */
.openMOgnb span:last-child {
    width: 25px;
    margin-bottom: 0px;
}
.header_cont{
    float: none;
    width: 100%;
    background: #31353d;
    margin-top: 0px;
    display: none; 
}
.closePop {
    display: block;
    position: absolute;
    right: 0px;
    top: 15px;
}
.closePop a {
    display: block;
    width: 60px; height: 60px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../img/btn_closeMenu.png) no-repeat;
    background-size: 60px;
}
.util {padding: 20px;}
.header_cont a {
    color: #fff; font-size: 16px;
}
.util li {float: left;}
.util li:after {
    /* :: 가상요소를 추가 */
    content: '|';
    display: inline-block;
    padding: 0 10px;
    color: #aeaea3;
    font-size: 10px;
    position: relative;
    top: -2px;
}
.util li:last-child::after{
    /* 가상 선택자 중 마지막 태그에서 가상 요소 추가 */
    content: '';
    display: none;
}
.gnb {
    float: none;
    box-sizing: border-box;
    padding-top: 0px;
    height: auto;
    border-top:1px solid #83868b;
}
.gnb li {
    float: left; /* 가로정렬 */
    width: 50%;
    text-align: left;
    box-sizing: border-box; /* width가 50%면 50%안쪽에 테두리까지 포함해서 계산*/
    border-bottom: 1px solid #83868b;
}
.gnb li a {
    display: block;
    padding: 0px 0px 0px 65px;
    height: 60px;
    line-height: 60px;
    background: url(../img/ico_gnb01.png) no-repeat 10px center; /* 뒤에있는 10px는 가로 위치, center 세로 가운데 정렬 */
    background-size: 49px 56px;
}
.gnb_depth {
    /* 2차 (서브) 메뉴 */
    display:none;
}
.gnb li + li a {  /*  1차(대메뉴)의 li 태그중 2번째 영역을 가르킴 */
    background-image: url(../img/ico_gnb02.png) ;
}

.gnb li + li + li a {  /*  1차(대메뉴)의 li 태그중 3번째 영역을 가르킴 */
    background-image: url(../img/ico_gnb03.png) ;
}

.gnb li +li + li + li a {  /*  1차(대메뉴)의 li 태그중 4번째 영역을 가르킴 */
    background-image: url(../img/ico_gnb04.png) ;
}
.gnb li:nth-child(2n+1){
    /*  홀수번째의 li 태그를 말함 */
    border-right: 1px solid #83868b; /*오른쪽 테두리 */
}
/* //상단 메뉴 영역 */
/* // 헤더영역 */
/* 본문 컨테이너 영역 */
#container, footer, .hdd, .quick_area {
    text-align: center;    /* 가운데 정렬 */
}
#container {
    position: relative;
    width: 100%;
    padding-bottom: 30px;
}
/* 슬라이드영역 */
.main_rolling_pc {
    display: block;
}
.visualRoll {
    position: relative;
    width: 100%;
}
.viewImgList {
    position: relative;
    width: 100%;
}
ul.viewImgList li {
    /* ul.클래스명: ul태그 중 클래스명이 viewImgList 영역 */
    text-align: center;
    height: 300px;
    line-height: 450px;  /*배경에서 Text의 위치 결정*/
    background-size: cover; /* 배경 이미지의 크기를 꽉 채우는 값 cover */
    width: 100%;
}
.roll_content a img {
    display: none;
}
li.imglist0 {
    position: relative;
    z-index: 50;
    background: url(../img/slide1.jpg) no-repeat;
}
li.imglist1 {
    position: absolute;
    z-index: 10;
    left:0; top:0;
    background: url(../img/slide2.jpg) no-repeat;
}
li.imglist2 {
    position: absolute;
    z-index: 10;
    left:0; top:0;
    background: url(../img/slide3.jpg) no-repeat;
}
.roll_content {
    position: static;
}
.roll_content .roll_txtline {
    position: absolute;
    left: 0;
    bottom: 60px;  /*roll_content 하단에서 60px 위에 위치*/
    width: 100%;
    line-height: 1;
    text-align: center;
    font-size: 22px;
    color: #fff;
    letter-spacing: 2px;
}
.rollbtnArea {
    position: absolute; /* 위치를 기준 위치에서 고정 시켜 놓겠다*/
    width: 100%;
    left: 0px;
    bottom: 25px;
    z-index: 200;
}
.rollingbtn {
    width: 320px;
    margin: 0 auto; /* 버튼 영역에 5개 들어가고, 가운데 정렬 시킴*/
    text-align: center; 
}
.rollingbtn li.butt0 {
    margin-left: 10px;
}
.rollingbtn li {
    display: inline-block;
    margin-left: 5px;
}
.rollingbtn li a {
    vertical-align: top; /*img하고 다른 태그 사용시 다른 태그의 세로 정렬*/
}
/* //슬라이드영역 */
/* 갤러리 최근 게시물 영역 */
.about_area h2 {
    font-size: 20px;
    padding: 27px 0px 25px; /* 27상하, 0좌, 25우*/
}
.about_area h2 b{
    display: block; /* 1개 라인 영역 모두 차지*/
    padding-top: 10px;
}
.about_box {background: #fff;}
.place_list li {
    float: none;
    width: 100%;
    margin:0;
    box-sizing: border-box;
    padding: 0px 20px;
}
.place_list li img {
    width: 100%; /* 가로 크기 반응형으로 만드는 방법 크기를 %로 표시 */
}
.place_list li h3 {
    font-weight: bold;
    font-size: 18px;
    padding-top: 25px;
}
.place_list p.txt {
    padding: 10px 50px 30px;
    line-height: 1.4;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    word-break: keep-all;    /*줄바꿈 안함*/
    color: #666;
}
.place_list li .view {
    padding-bottom: 10px;
    margin: 0px 0px 30px;
    display: inline-block;
    padding-top: 5px;
    border-top: 2px solid #333;
    color: #666;
}
/* //갤러리 최근 게시물 영역 */
/* 공지사항 최근게시물 영역 */
.app_line {display: none;}
.appbbs_area {
    padding: 0px 20px;
    text-align: left;
}
.bbs_line {
    float: none;
    width: 100%;
    padding: 20px 0px;
    border-top: 1px solid #d6d7d8
}
.bbs_line h3 {
    font-weight: bold;
    font-size: 19px;
}
.bbs_line .notice_recent {
    padding-top: 10px;
}
.bbs_line .notice_recent li{
    padding: 8px 0px;
}
/* //공지사항 최근게시물 영역 */
/* //본문 컨테이너 영역 */
/* 푸터스타일 지정 */
footer {
    border-top: 1px solid #add;
    text-align: left;
}
.foot_area {    /*모바일에서는 의미 없고, 테블릿 이상에서 의미있는 스타일*/
    box-sizing: border-box;
    padding: 0px 20px 90px;
    position: relative;   /*relative가 있다는 것은 foot_area안쪽에 태그의 기준으로 사용한다는 의미*/
}
.foot_list {
    padding-top: 25px;
}
.foot_list li {
    float: left; /*세로배치 콘텐츠를 가로로 배치*/
}
.foot_list li:first-child::after {
    content: '|';
    display: inline-block;
    padding: 0px 10px;
    font-size: 10px;
    position: relative;
    top: -2px;
}
.foot_list li a {
    font-weight: bold;
    font-size: 15px;
}
.foot_list li a:hover {color: black !important;}
.foot_area h2 {
    padding-top: 15px;
    font-size: 14px; /*px: 픽셀 pixel html 크기 단위; 기타단위 :em, rem(root em) */
    color: #666;
}
.addr {
    line-height: 1.3; /* 줄간격 1.3배 */
    font-size: 14px;
    color: #767676;
    padding-top: 5px;
}
.br_line {
    display: block; /*블럭영역은 1줄 모두 자리 차지*/
}
.copy {
    padding: 3px 0px 20px;
    font-size: 14px;
    color: #767676;
}
.snslink {
    position: static; /*고정값*/
    width: 210px;
    margin: 10px auto;  /* 10 상하여백, auto 좌우가운데정렬 */
}
.snslink li:first-child {
    margin-left: 0px;
}
.snslink li {
    margin-left: 30px;
    float: left; /*세로배치 가로배치로 변경*/
}
.snslink li a {
    display: block;
    width: 50px;
    height: 74px;
    text-indent: -9999px;  /*들여쓰기, 글자를 숨기기: 웹접근성(시각장애인용 구현) */
    background: url(../img/ico_blog_r.png) no-repeat;
    overflow: hidden;
}
.snslink li + li a {  /* 우측과 같은 표현 Sibling 이라고 함 */
    background: url(../img/ico_facebook_r.png) no-repeat;
}
.snslink li + li +li a {
    background: url(../img/ico_instargram_r.png) no-repeat;
}
/* 퀵메뉴 영역 */
.to_top {
    position: fixed; /* 붙박이: 마우스를 스코롤 해도 항상 그자리에 고정되어 있음. */
    right: 20px; 
    bottom: 100px;
    text-align: center;
    background: none;
    z-index: 100; /* 슬라이드 이미지는 200 보다는 아래이기 때문에 겹치면 안보임 */
}
.to_top a {
    display: block;
    width: 45px;
    height: 45px;
    background: url(../img/ico_totop_mo.png) no-repeat center;
    background-size: 45px;
    box-sizing: border-box;
    text-indent: -9999px;
    overflow: hidden;
}
/* //퀵메뉴 영역 */
/* //푸터스타일지정 */
