<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 2개의 객체를 바인딩 시키는 mapper 
     회원관리 CRUD 쿼리 파일.
-->
<mapper namespace="memberMapper">
<!-- 공통쿼리 마이바티스 include 사용 -->
<sql id="sqlWhere">
	<if test="search_type != '' and search_type != null">
        WHERE
       	<if test="search_type == 'all'.toString()">
      			user_id LIKE '%'||#{search_keyword}||'%'
       		OR user_name LIKE '%'||#{search_keyword}||'%'
       	</if>
       	<if test="search_type == 'user_id'.toString()">
       		user_id LIKE '%'||#{search_keyword}||'%'
       
       	</if>
       	<if test="search_type == 'user_name'.toString()">
				user_name LIKE '%'||#{search_keyword}||'%'
       	</if>
	</if>
</sql>

<!-- jsp수정페이지에 수정할 내용 쿼리 -->
<update id="updateMember">
update tbl_member set 
email = #{email}, 
enabled = #{enabled},
levels = #{levels},
point = #{point},
update_date = systimestamp,
<if test="user_pw != ''">
user_pw = #{user_pw},
</if>
user_name = #{user_name}
where user_id = #{user_id}
</update>

<!-- jsp상세보기에 출력할 내용 쿼리 -->
<select id="readMember" resultType="com.edu.vo.MemberVO">
select * from tbl_member where user_id = #{user_id}
</select>

<!--  jsp폼에서 전송받은 memberVO객체의 데이터를 DB에 insert한다. -->
<insert id="insertMember">
insert into tbl_member 
(
	user_id,
	user_pw,
	user_name,
	email,
	point,
	enabled,
	levels,
	reg_date
) 
values 
(
	#{user_id},
	#{user_pw},
	#{user_name},
	#{email},
	#{point},
	#{enabled},
	#{levels},
	systimestamp
)
</insert>

<delete id="deleteMember">
delete from tbl_member where user_id = #{user_id}
</delete>

<!-- 현재처럼 무조건 갯수를 구하면, 검색결과에 대한 페이징값을 구할 수 없다.
	 검색이 포함된 카운트갯수가 나와야 한다.
 -->
<select id="countMember" resultType="int">
select count(*) from tbl_member
<include refid="sqlWhere" />
</select>

<select id="selectMember" resultType="com.edu.vo.MemberVO">

SELECT TB.* FROM
(
    SELECT ROWNUM AS RNUM, TA.* FROM
    (
        SELECT * FROM tbl_member
        <include refid="sqlWhere" />
        ORDER BY reg_date DESC
		) TA
<![CDATA[
		WHERE ROWNUM <= #{queryStartNo}+#{queryPerPageNum}
) TB WHERE TB.RNUM > #{queryStartNo}
]]>
</select>
</mapper>